<style>
    .btn_p{
        display: block;
        height:28px;
    }
</style>
<div class="pagination mt-3 mb-3">
    {% if page.has_previous %}
        <a class="btn btn-sm btn_p" href="?page=1"><<</a>
        <a class="btn btn-sm btn_p" href="?page={{ page.previous_page_number }}"><</a>
    {% endif %}
        <span class="btn btn-primary btn-sm btn_p">{{ page.number }}</span>
        <span class="btn btn-sm btn_p">of</span>
        <span class="btn btn-sm btn_p">{{ page.paginator.num_pages }}</span>
    {% if page.has_next %}
        <a class="btn btn-sm btn_p" href="?page={{ page.next_page_number }}">></a>
        <a class="btn btn-sm btn_p" href="?page={{ page.paginator.num_pages }}">>></a>
    {% endif %}
</div>