{% extends "ems/base.html" %}

{% block title %}
    Add leave
{% endblock title %}

{% block content %}

<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();
    today = yyyy + '-' + mm + '-' + dd;
    var calendar = new FullCalendar.Calendar(calendarEl, {
      
      plugins: [ 'interaction', 'dayGrid' ],
      defaultDate: today,
      height: 600,
      editable: false,
      eventLimit: false, // allow "more" link when too many events
      firstDay: 1,
      eventSources: [

        // Pending
        {
          url: '/json_pending_leave', // pedning user leaves
          color: '#007bff',    // color blue for pedning leaves
          textColor: 'white'  // font color white for pedning leaves
        },
        // Accepted
        {
          url: '/json_accepted_leave', // pedning user leaves
          color: '#28a745',    // color blue for pedning leaves
          textColor: 'white'  // font color white for pedning leaves
        },
        // Rejected
        {
          url: '/json_rejected_leave', // pedning user leaves
          color: '#dc3545',    // color blue for pedning leaves
          textColor: 'white'  // font color white for pedning leaves
        } 

      ]

    });

    calendar.render();
  });

</script>
<div class="row justify-content-start mb-3">  
  <span class="ml-3" style="font-size:13px;">Calendar Legend: </span>
  <div class="row ml-2">
    <span class="badge badge-primary ml-3 mr-3">Pending</span>
    <span class="badge badge-success ml-3 mr-3">Accepted</span>
    <span class="badge badge-danger ml-3 mr-3">Rejected</span>
  </div>
</div>


<form method="POST" action="">
    {% csrf_token %}
          {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationServer01">Leave Type</label>
            {{form.leave_type}}
            <hr>
            <label for="validationServer01">Leave Date</label>
            {{form.leave_date}}
            <hr>
            <label for="validationServer01">Return Date</label>
            {{form.return_date}}
            <hr>
            <label for="validationServer01">Comment</label>
            {{form.comment}}
            <hr>
            <button class="btn btn-lg btn-primary" type="submit">Add leave</button>
        </div>
        <div class="col-md-8 mb-3">
            <div class="m-3" id='calendar'></div>
        </div>
    </div>
</form>

<!-- For datepicker -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
<script>
    $('#datepicker').datepicker({disableDaysOfWeek: [0, 6], weekStartDay: 1, uiLibrary: 'bootstrap4', format: 'yyyy-mm-dd'});
    $('#datepicker1').datepicker({disableDaysOfWeek: [0, 6], weekStartDay: 1, uiLibrary: 'bootstrap4', format: 'yyyy-mm-dd'});
</script>
{% endblock content %}