{% extends "ems/base.html" %}
{% block title %}
    Detail leave
{% endblock title %}

{% block content %}

<style>
    .date{
        display: block;
        width: 230px;
        float: left;
        font-weight: 500;
    }
    .notification{
        display: block;
        float: left;
        padding-right: 20px;
    }
    .icon{
        display: block;
        float: right;
        font-size: 12px;
        color: green;
    }

</style>

{% include "ems/messages.html" %}

<div class="row justify-content-center">
    <div class="col-lg-10">
        {% if notificat %}
        <ul class="list-group">
            {% for n in notificat %}
                {% if not n.read %}
                    <a class="list-group-item mb-2" href="{% url 'leave:accept_notifications' n.id %}"><span class="date {% if not n.read %}font-weight-bold {% endif %}">{{n.date_created|date:"d-m-Y H:m:s"}}</span><span class="notification {% if not n.read %}font-weight-bold {% endif %}">{{ n.notification }}</span><i class="icon {% if not n.read %} fas fa-times {% else %} fas fa-check {% endif %} "></i></a>
                {% endif %}
                {% if n.read %}
                    <li class="list-group-item mb-2"><span class="date {% if not n.read %}font-weight-bold {% endif %}">{{n.date_created|date:"d-m-Y H:m:s"}}</span><span class="notification {% if not n.read %}font-weight-bold {% endif %}">{{ n.notification }}</span><i class="icon {% if not n.read %} fas fa-times {% else %} fas fa-check {% endif %} "></i></li>
                {% endif %}
            {% endfor %}
        </ul> 
        {% include "leave/pagination/pagination.html" with page=notificat %}
        {% else %}
        <ul class="list-group">
            <li class="list-group-item mb-2"><span>You does't have any notifications</span></li>  
        </ul>  
        {% endif %}
    </div>
</div>

{% endblock content %}