{% extends "ems/base.html" %}

{% block title %}
    Change Password Done
{% endblock title %}

{% block content %}

<div class="row ml-3">
    <a class="btn btn-primary" href="{% url 'user:settings_page' %}">Back</a>
</div>

<div class="row justify-content-center">
    <div class="col-lg-4">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Password has been done!</h4>
            <p>The change was successful</p>
            <hr>
            <p class="mb-0">Now you can use a new password</p>
        </div>
    </div>
</div>
{% endblock content %}